<h1>Listing War Events</h1>

<% if WarEvent.count < 76911 %>
<p><b>Please note: not all the events have been imported into the database of this demo yet</b></p>
<% end %>

<%= render(:partial => "shared/tag_cloud", :locals => { :tags => @term_tags }) %>
