
<p>This site was made in the hope that it will make it easier for people who are interested in the Afghan war leaks to look through them. So far it has been an effort by one guy with little time to spare.</p>

<p>The site was developed using <%= link_to("Ruby on Rails", "http://rubyonrails.org") %>, the code is available on <%= link_to("github", "http://github.com/tomtt/wikileaks_wardiary_on_rails") %>. You can install it locally, there are automated scripts to import the wikileaks data into your database.</p>

<p>If you can help, let me know. If you are a journalist with a particular question, let me know. Drop me an email at war logs at tomtenthij dot nl.</p>
